<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.4.0" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.ClientDoc" version="13.0.4003" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.CommLayer" version="13.0.4003" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.CommonControls" version="13.0.4003" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.4003" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.Controllers" version="13.0.4003" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.CubeDefModel" version="13.0.4003" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.DataDefModel" version="13.0.4003" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.DataSetConversion" version="13.0.4003" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.ObjectFactory" version="13.0.4003" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.Prompting" version="13.0.4003" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.ReportDefModel" version="13.0.4003" targetFramework="net472" />
  <package id="CrystalReports.ReportAppServer.XmlSerialize" version="13.0.4003" targetFramework="net472" />
  <package id="CrystalReports.Shared" version="13.0.4003" targetFramework="net472" />
  <package id="DocX" version="2.1.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net472" />
  <package id="FreeSpire.Office" version="4.3.1" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.4" targetFramework="net472" />
  <package id="log4net" version="2.0.12" targetFramework="net472" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1484.0" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Spire.Doc" version="10.5.9" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="ZXing.Net" version="0.16.8" targetFramework="net472" />
</packages>